---
import Layout from "@/layouts/Layout.astro";

const cards = [
  {
    title: "常用",
    items: [
      {
        title: "pro-components",
        link: "https://pro-components.antdigital.dev/components"
      }
    ]
  },
  {
    title: "AI工具",
    items: [
      {
        title: "chatgpt",
        link: "https://chatgpt.com/"
      },
      {
        title: "kimi",
        link: "https://kimi.moonshot.cn/"
      },
      {
        title: "v0",
        link: "https://v0.dev/"
      },
      {
        title: "ideogram",
        link: "https://ideogram.ai/"
      }
    ]
  },
  {
    title: "前端框架",
    items: [
      {
        title: "nextjs",
        link: "https://nextjs.org/"
      },
      {
        title: "astro",
        link: "https://astro.build/"
      }
    ]
  },
  {
    title: "ui框架",
    items: [
      {
        title: "tailwindcss",
        link: "https://tailwindcss.com/"
      },
      {
        title: "ant design",
        link: "https://ant-design.antgroup.com/index-cn"
      },
      {
        title: "shadcn/ui",
        link: "https://ui.shadcn.com/"
      }
    ]
  },
  {
    title: "图标库",
    items: [
      {
        title: "heroicons",
        link: "https://heroicons.com/"
      }
    ]
  },
];
---

<Layout title="导航-戴富阳的博客">
  <div class="container mx-auto mt-8">
    {
      cards.map((card) => {
        const { items } = card;
        return (
          <div class="mb-6">
            <h2 class="text-2xl font-medium">{card.title}</h2>
            <div class="grid grid-cols-4 gap-4 mt-4">
              {items.map((item) => {
                return (
                  <div class="border rounded-lg">
                    <a
                      target="_blank"
                      class="w-full h-full flex items-center justify-center text-3xl text-center p-4 hover:underline"
                      href={item.link}
                    >
                      {item.title}
                    </a>
                  </div>
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</Layout>
